.aboutMe {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-self: center;
  margin-top: 5%;

  h2 {
    border-bottom: solid;
    width: fit-content;
    padding-bottom: 2%;
    font-size: 1.8rem;

    @media (max-width: 770px) {
      font-size: 1.4rem;
    }
  }

  p {
    text-wrap: inherit;
    font-weight: 600;
    line-height: 2;
    font-size: 1rem;

    @media (max-width: 770px) {
      font-size: 0.95rem;
    }
  }

  @media (max-width: 770px) {
    width: 85%;
    margin-top: 8%;
  }
}
